<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>CRM</title>
		<meta name="description" content="description">
		<meta name="author" content="De&Em">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.2.1/dt-1.10.16/af-2.2.2/b-1.4.2/r-2.2.0/datatables.min.css"/>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
		<link rel="stylesheet" href="/assets/css/bootstrap-multiselect.css" type="text/css">
		<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css" type="text/css">
		<link href="/assets/css/printPDF.css" rel="stylesheet">
		<link href="/assets/css/style.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->

	</head>
<body>
	<header>
		<div class="row">
			<div id="top-header" class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <div class="navbar-brand"><a href="/">
						<img src="/assets/img/logo.png" alt="logo" class="logo">
					</a>
					</div>
					<div class="pull-right">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								User
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="/user/logout">Logout</a>
							</div>
						</div>
					</div>
				</nav>
			</div>
			<div id="menu" class="col-md-12">
				<ul class="nav justify-content-center">
				  <li class="nav-item">
						<div class="dropdown">
						  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="d_clients" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Clients
						  </a>
						  <div class="dropdown-menu" aria-labelledby="d_clients">
						    <a class="dropdown-item" href="/client/">All</a>
						    <a class="dropdown-item" href="/client/add">Add</a>
						  </div>
						</div>
				  </li>
					<li class="nav-item">
						<div class="dropdown">
						  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="d_products" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Products
						  </a>
						  <div class="dropdown-menu" aria-labelledby="d_products">
						    <a class="dropdown-item" href="/products/">All</a>
						    <a class="dropdown-item" href="/products/add">Add</a>
								<a class="dropdown-item" href="/products/quick-add">Quick Add</a>
								<a class="dropdown-item" href="/blog">Blogs</a>
								<a class="dropdown-item" href="/products/deleted">Deleted</a>
						  </div>
						</div>
				  </li>
					<li class="nav-item">
						<div class="dropdown">
						  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="d_sale" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Sale
						  </a>
						  <div class="dropdown-menu" aria-labelledby="d_sale">
						    <a class="dropdown-item" href="/sale/">All</a>
						  </div>
						</div>
				  </li>
					<li class="nav-item">
						<div class="dropdown">
						  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="d_user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    User
						  </a>
						  <div class="dropdown-menu" aria-labelledby="d_user">
						    <a class="dropdown-item" href="/user/">All</a>
						    <a class="dropdown-item" href="/user/add">Add</a>
						  </div>
						</div>
				  </li>
					<li class="nav-item">
						<div class="dropdown">
						  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="d_settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Settings
						  </a>
						  <div class="dropdown-menu" aria-labelledby="d_settings">
						    <a class="dropdown-item" href="/settings/">Settings</a>
						  </div>
						</div>
				  </li>
					<!-- <li class="nav-item">
						<div class="dropdown">
						  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="d_IE" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Import/ Export
						  </a>
						  <div class="dropdown-menu" aria-labelledby="d_IE">
						    <a class="dropdown-item" href="/import/">Import</a>
						  </div>
						</div>
				  </li> -->
				</ul>
			</div>
		</div>
	</header>
<!--Start Container-->
<div id="main" class="container-fluid">
	<div class="row">

		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-12">
			<%- messages() %>

<!-- Push notifications  -->
