<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>LOGIN</title>
		<meta name="description" content="description">
		<meta name="keyword" content="keywords">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/assets/plugins/bootstrap/bootstrap.css" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
		<link href="/assets/css/style_v2.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
		<style>
		#messages{}
		#messages ul{
			margin: 0px;
padding: 0px;
		}
		#messages ul li{
			position: relative;
			padding: .75rem 1.25rem;
			margin-bottom: 1rem;
			border: 1px solid transparent;
			border-radius: .25rem;
			list-style: none;
		}
		#messages .success{

		}
		#messages .success li{
			color: #155724;
		background-color: #d4edda;
		border-color: #c3e6cb;
		}
		#messages .error li,#messages .danger li{
				color: #721c24;
				background-color: #f8d7da;
				border-color: #f5c6cb;
		}
		</style>
	</head>
<body>
<div class="container-fluid">
	<div id="page-login" class="row">
    <form method="post" action="/user/login">
		<div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<div class="box">
				<div class="box-content">
					<div class="text-center">
						<h3 class="page-header">Login</h3>
					</div>
					<%- messages() %>
					<div class="form-group">
						<label class="control-label" for="username">Username</label>
						<input type="text" id="username" class="form-control" name="username" />
					</div>
					<div class="form-group">
						<label for="password" class="control-label">Password</label>
						<input type="password" class="form-control" id="password" name="password" />
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary">Sign in</button>
					</div>
				</div>
			</div>
		</div>
  </form>
	</div>
</div>
</body>
</html>

  <!-- <div class="container">
<div class="row">
<form method="post" action="/user/login">
    <p class="h5 text-center mb-4">Sign in</p>
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" name="username" id="username" class="form-control">
        <label for="username">Username</label>
    </div>
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="password" name="password" class="form-control">
        <label for="password">Password</label>
    </div>
    <div class="text-center">
        <button class="btn btn-default">Login</button>
    </div>
</form>
</div>
</div> -->
<!-- <form>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> -->
</div>
