<table class="table table-striped table-hover table-sm data-tables">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Vendor</th>
      <th scope="col">Cost</th>
      <th scope="col">Feature</th>
    </tr>
  </thead>
  <tbody>
    <% for(var v of vendor){ %>
    <tr>
        <td><%= v.vendor.name %></td>
        <td><%= v.cost %></td>
        <td><%= v.feature %></td>
    </tr>
    <% } %>
  </tbody>
</table>
