<% include ../../partials/header %>
<div class="page-header">
	<div class="page-title">
    Add Side Ad
	</div>
	<div class="page-actions">

	</div>
</div>
<div class="page-content">
  <form action="/settings/add-side-ad" method="post" autocomplete="off" enctype="multipart/form-data">
    <div class="row">
     <div class="col-md-6">
       <div class="form-group">
         <label class="control-label col-md-12 col-sm-12 col-xs-12">Image</label>
         <div class="col-md-12 col-sm-12 col-xs-12">
           <input type="file" name="image" class="form-control" accept="image/*" required>
         </div>
       </div>
		 </div>
		 <div class="col-md-6">
       <div class="form-group">
         <label class="control-label col-md-12 col-sm-12 col-xs-12">Image Link</label>
         <div class="col-md-12 col-sm-12 col-xs-12">
           <input type="text" name="link" class="form-control">
         </div>
       </div>
		 </div>
		 <div class="col-md-6">
       <div class="form-group">
         <label class="control-label col-md-12 col-sm-12 col-xs-12">Image Title</label>
         <div class="col-md-12 col-sm-12 col-xs-12">
           <input type="text" name="alt" class="form-control">
         </div>
       </div>
		 </div>
		 <div class="col-md-6">
			 <div class="form-group">
         <label class="control-label col-md-12 col-sm-12 col-xs-12">Image Sort</label>
         <div class="col-md-12 col-sm-12 col-xs-12">
           <input type="number" name="sort" class="form-control">
         </div>
       </div>
		 </div>
		 <div class="col-md-12">
       <div class="form-actions">
         <button type="submit" class="btn btn-primary">Submit</button>
       </div>
     </div>
    </div>
 </form>
</div>
<% include ../../partials/footer %>
