<% include ../../partials/header %>
<div class="page-header">
	<div class="page-title">
    Edit Side Ad
	</div>
	<div class="page-actions">

	</div>
</div>
<div class="page-content">
  <form action="/settings/edit-middle-ad/<%= side.id %>" method="post" autocomplete="off">
    <div class="row">
		 <div class="col-md-6">
       <div class="form-group">
         <label class="control-label col-md-12 col-sm-12 col-xs-12">Image Link</label>
         <div class="col-md-12 col-sm-12 col-xs-12">
           <input type="text" name="link" class="form-control" value="<%= side.link %>">
         </div>
       </div>
		 </div>
		 <div class="col-md-6">
       <div class="form-group">
         <label class="control-label col-md-12 col-sm-12 col-xs-12">Image Title</label>
         <div class="col-md-12 col-sm-12 col-xs-12">
           <input type="text" name="alt" class="form-control" value="<%= side.alt %>">
         </div>
       </div>
		 </div>
		 <div class="col-md-6">
			 <div class="form-group">
         <label class="control-label col-md-12 col-sm-12 col-xs-12">Image Sort</label>
         <div class="col-md-12 col-sm-12 col-xs-12">
           <input type="number" name="sort" class="form-control" value="<%= side.sort %>">
         </div>
       </div>
		 </div>
		 <div class="col-md-12">
       <div class="form-actions">
         <button type="submit" class="btn btn-primary">Submit</button>
       </div>
     </div>
    </div>
 </form>
</div>
<% include ../../partials/footer %>
